<ion-view title="Register">
    <ion-content>
        <div class="wrap _flex_sa_c">
            <div class="logo _top">
                <img src="images/logo_no_shadow.png" alt="">

                <div class="logo__text">Léa Knows</div>
            </div>
            <form ng-submit="fn.recovery()" class="form moveUp40">
                <div class="form__txt">Email</div>
                <input type="text" ng-model="$parent.email">
                <div ng-show="recoveryEmailSend">
                    <div class="form__txt">Recovery code</div>
                    <input type="text" ng-model="$parent.recoveryCode">
                    <div class="form__txt">New password</div>
                    <input type="password" ng-model="$parent.NewPassword">
                </div>

                <button type="submit" ng-disabled="!$parent.email">Recover</button>
                <p class="form__new">Remember password? <a ui-sref="app.login">Login</a></p>
            </form>
        </div>

    </ion-content>
</ion-view>
